:root {
  --green: #1ac073;
  --teal: #2ebf91;
  --yellow: #f3ba00;
  --white: #f0faf7;
  --background: #f2f2f2;
  --lightgreen: #C7EACC;
  --lighttext: #737373;
  --darktext: #252B42;
}

body {
  font-family: 'Rubik', sans-serif;
  margin: 0;
  padding: 0;
}


.lock-scroll {
  overflow: hidden;
}

/* Overriding the default slick design */

.slick-arrow::before {
  color: var(--green)!important;
  font-size: 64px!important;
}

.slick-list {
  align-self: center;
  width: 80%;
  padding: 0!important;
}

@media screen and (max-width: 992px) {
  .slick-arrow::before {
    color: var(--green)!important;
    font-size: 32px!important;
  }
  .slick-prev {
    left: 8px!important;
  }
  .slick-next {
    right: 8px!important;
  }
}

@media screen and (max-width: 600px) {
  .slick-arrow::before {
    color: var(--green)!important;
    font-size: 32px!important;
  }
}