.cta {
  background-color: var(--background);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12rem;
}

.cta--left {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.cta--heading {
  font-size: 28px;
  width: 400px;
  margin: 8px;
}

.cta--content {
  margin: 8px;
}

.cta--basicinput {
  display: flex;
}

.cta--input {
  width: 300px;
  padding: 24px;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  margin: 8px;
  outline: none;
}

.cta--textarea {
  width: 660px;
  height: 160px;
  padding: 24px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  resize: none;
  margin: 8px;
  outline: none;
  font-family: inherit;
}

.cta--button {
  background-color: var(--green);
  border: none;
  border-radius: 8px;
  width: min-content;
  padding: 16px 64px;
  font-size: 18px;
  color: var(--white);
  margin: 8px;
  cursor: pointer;
}

.cta--image {
  height: 500px;
}

.cta--input:hover {
  border: none;
}

.cta--textarea:active {
  border: none;
}

@media screen and (max-width: 992px) {
  .cta--right {
    display: none;
  }
  .cta {
    padding: 6rem;
  }
  .cta--input {
    width: 200px;
    padding: 24px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    margin: 8px;
    outline: none;
  }
  
  .cta--textarea {
    width: 460px;
    height: 160px;
    padding: 24px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    resize: none;
    margin: 8px;
    outline: none;
    font-family: inherit;
  }
}

@media screen and (max-width: 600px) {
  
}