.home {
  background-color: var(--green);
  height: 100vh;
  padding-right: 12rem;
  padding-left: 12rem;
}

.home--body {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white);
}

.home--left {
  width: 600px;
}

.home--right {

}

.home--heading {
  font-size: 72px;
}

.home--content {
  font-size: 24px;
}

.home--action {

}

.home--search {
  width: 420px;
  height: 64px;
  font-size: 18px;
  color: #929292;
  border-bottom-left-radius: 12px;
  border-top-left-radius: 12px;
  border: none;
  padding-left: 18px;
  outline: none;
}

.home--button {
  color: var(--white);
  background-color: var(--yellow);
  border: none;
  height: 64px;
  width: 150px;
  border-bottom-right-radius: 12px;
  border-top-right-radius: 12px;
  font-size: 18px;
  cursor: pointer;
}

.home--button:hover {
  background-color: #ffc91a;
}