.items {
  padding-left: 12rem;
  padding-right: 12rem;
  background-color: var(--background);
  padding-top: 6rem;
  padding-bottom: 6rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.items--heading {
  font-size: 32px;
  font-weight: 600;
  color: var(--darktext);
}

.items--carousalheading {
  font-size: 32px;
  font-weight: 600;
  color: var(--darktext);
  text-align: center;
}

.items--list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.items--image {
  height: 300px;
  width: 100%;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}

.items--card {
  margin: 8px;
  background-color: var(--white);
  border-radius: 8px;
}

.items--rowtop {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.items--rowbottom {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.items--rowbottomleft {
  display: flex;
  align-items: center;
}

.items--rowbottomright {

}

.items--addbutton {
  background-color: var(--yellow);
  border: none;
  border-radius: 4px;
  padding: 4px;
  cursor: pointer;
}

.items--badge {
  position: absolute;
  background-color: var(--yellow);
  padding: 12px 8px;
  border-radius: 12px;
}

.items--carousal {
  width: 100%;
  display: flex!important;
  justify-content: space-evenly;
  align-items: center;
}

.items--requestbutton {
  background-color: var(--green);
  color: var(--white);
  border: none;
  border-radius: 12px;
  padding: 24px 32px;
  font-size: 16px;
  align-self: center;
  cursor: pointer;
  margin-top: 24px;
}

.items--time {
  background-color: #F7F8FA;
  padding: 4px;
  border-radius: 8px;
  border-left: 4px solid #bebebe;
  border-right: 4px solid #bebebe;
  margin: 0;
}

.items--rating {
  background-color: #F7F8FA;
  padding: 4px;
  border-radius: 8px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.items--timecontainer {
  border-radius: 8px;
  margin-left: 8px;
}

.items--star {
  margin-right: 2px;
}

@media screen and (max-width: 992px) {
  .items {
    padding-left: 6rem;
    padding-right: 6rem;
    background-color: var(--background);
    padding-top: 6rem;
    padding-bottom: 6rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .items--list {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 600px) {
  .items--list {
    grid-template-columns: 1fr;
  }
}