.video {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video--heading {
  font-size: 42px;
  font-weight: 600;
  text-align: center;
  color: var(--darktext);
  font-family: inherit;
  white-space: pre-line;
  margin: 0;
  margin-bottom: 8px;
}

.video--container {
  z-index: 10;
  position: relative;
}

.video--controls {
  position: absolute;
  left: 50%;
  top: 50%;
}

.video--content {
  color: var(--lighttext);
  margin: 0;
  text-align: center;
}

.video--image {
  z-index: 10;
  margin-top: 24px;
  height: 400px;
  width: 600px;
}

.video--greenbg {
  background-color: var(--lightgreen);
  height: 400px;
  width: 100%;
  margin-top: -200px;
}

.video--playpause {
  background-color: var(--green);
  border: none;
  border-radius: 100%;
  height: 48px;
  width: 48px;
  cursor: pointer;
}

.video--playpause > img {
  height: 24px;
  width: 24px;
  color: var(--white);
}

@media screen and (max-width: 992px) {
  .video--image {
    z-index: 10;
    margin-top: 24px;
    width: 400px;
    height: 300px;
  }
  .video--greenbg {
    background-color: var(--lightgreen);
    height: 200px;
    width: 100%;
    margin-top: -100px;
  }
}

@media screen and (max-width: 600px) {
  .video {
    width: 100%;
  }
  .video--image {
    z-index: 10;
    margin-top: 24px;
    width: 300px;
    height: 200px;
  }
  .video--greenbg {
    background-color: var(--lightgreen);
    height: 150px;
    width: 100%;
    margin-top: -60px;
  }
  .video--heading {
    font-size: 32px;
  }
  
  .video--content {
    color: var(--lighttext);
    margin: 0;
    text-align: center;
  }
}