.video {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video--heading {
  font-size: 42px;
  font-weight: 600;
  text-align: center;
  color: var(--darktext);
  font-family: inherit;
  white-space: pre-line;
  margin: 0;
  margin-bottom: 8px;
}

.video--content {
  color: var(--lighttext);
  margin: 0;
}

.video--image {
  z-index: 10;
  margin-top: 24px;
}

.video--greenbg {
  background-color: var(--lightgreen);
  height: 400px;
  width: 100%;
  margin-top: -200px;
}